In [1]:
import pandas as pd

df = pd.read_csv('/Users/karim/Downloads/Life Expectancy Data.csv')

df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Schooling', 'GDP',
       'Alcohol', 'percentage expenditure', 'Total expenditure'],
      dtype='object')

In [7]:
df.columns = df.columns.str.strip()

In [8]:
columns_to_keep = [
    "Country", "Year", "Status", "Life expectancy", "Schooling",
    "GDP", "Alcohol", "percentage expenditure", "Total expenditure"
]
df = df[columns_to_keep]

In [9]:
df.rename(columns={
    "Life expectancy ": "LifeExpectancy",
    "percentage expenditure": "HealthExpenditure_%",
    "Total expenditure": "HealthExpenditure_Total"
}, inplace=True)

In [10]:
df.dropna(inplace=True)

In [11]:
df.isnull().sum()

Country                    0
Year                       0
Status                     0
Life expectancy            0
Schooling                  0
GDP                        0
Alcohol                    0
HealthExpenditure_%        0
HealthExpenditure_Total    0
dtype: int64

In [12]:
df.to_csv("life_expectancy_cleaned.csv", index=False)

In [13]:
print(df.describe())
print(df["Status"].value_counts())
print(df["Country"].nunique())

              Year  Life expectancy    Schooling            GDP      Alcohol  \
count  2323.000000      2323.000000  2323.000000    2323.000000  2323.000000
mean   2006.992682        69.272148    12.054929    7537.232820     4.588437
std       4.316748         9.689526     3.367402   14458.275145     4.024753
min    2000.000000        36.300000     0.000000       1.681350     0.010000
25%    2003.000000        63.000000    10.100000     453.736689     0.870000
50%    2007.000000        72.200000    12.400000    1728.265900     3.880000
75%    2011.000000        75.900000    14.400000    5868.896201     7.560000
max    2015.000000        89.000000    20.700000  119172.741800    17.870000

       HealthExpenditure_%  HealthExpenditure_Total
count          2323.000000              2323.000000
mean            932.846003                 5.871743
std            2194.765016                 2.395543
min               0.000000                 0.370000
25%              35.892769                 4.220000
50%             154.963086                 5.750000
75%             630.221214                 7.530000
max           19479.911610                14.390000
Status
Developing    1903
Developed      420
Name: count, dtype: int64
156

In [14]:
df.dropna(inplace=True)

In [15]:
df.isnull().sum()

Country                    0
Year                       0
Status                     0
Life expectancy            0
Schooling                  0
GDP                        0
Alcohol                    0
HealthExpenditure_%        0
HealthExpenditure_Total    0
dtype: int64

In [16]:
df.to_csv("life_expectancy_cleaned.csv", index=False)